<form [formGroup]="Formulaire" (ngSubmit)="onSubmit()">   

    <div class="row">
        <div class="col-md-3 mb-3">
            <mat-form-field>
                <mat-label>Nom du domaine</mat-label>
                <input matInput type="text" name="libelle" id="libelle" required formControlName="libelle">
              </mat-form-field>
        </div>
    </div>   
           
    <div>
        <button mat-button class="btn-danger" TYPE="reset" style="margin-top: 20px;">Annuler</button>
        <button mat-button class="btn-primary" TYPE="submit" style="margin-top: 20px;">Enregistrer</button>
    </div>

</form>

 