<div class="row">
    
    <div class="search-wrapper active" >
        <div class="input-holder">
            <input matInput (keyup)="applyFilter($event)" class="search-input" placeholder="Saisir pour chercher" #input>
            <button class="search-icon"><span></span></button>
        </div>
    </div>

</div>
<br><br>
<div class="mat-elevation-z8">

    <table mat-table [dataSource]="pays" matSort>

        <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ID"> {{element.id}}</mat-cell>
        </ng-container>
 
        <ng-container matColumnDef="Libelle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nom de pays </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Libelle"> {{element.nom}} </mat-cell>
        </ng-container>
 
        <ng-container matColumnDef="Supprimer">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-icon routerLink="/Menu/Menu-Services/Menu-pays/Visualiser-pays"title="Visualiser">remove_red_eye</mat-icon>
                <mat-icon (click)="openDialog()" title="Supprimer" style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete </mat-icon>
                <mat-icon title="Modifier" routerLink="/Menu/Menu-Services/Menu-pays/Modifer-pays" style="color:blue;margin-left: 15px;">edit </mat-icon>
            </mat-cell>
        </ng-container>
       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </table>
 
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 
</div> 
 