<div class="grid-container">
     
    <div class="grid-item item3" style="margin-bottom: 20px;margin-left: 20px;">

        <mat-label style="font-weight: bold;border-bottom: 1px solid #DEDEDE;"> Informations Générales </mat-label>
    
        <div class="row">
            <mat-label><strong> ID du session de formations   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Date de debut : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Date fin : </strong></mat-label>               
        </div>
        
        <div class="row">
            <mat-label><strong> Lieu : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Nombre de participant : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Formateur : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Formation : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Organisme : </strong></mat-label>               
        </div>

    </div>

</div>