<div class="grid-container">
     
    <div class="grid-item item3" style="margin-bottom: 20px;margin-left: 20px;">

        <mat-label style="font-weight: bold;border-bottom: 1px solid #DEDEDE;"> Informations Générales </mat-label>
    
        <div class="row">
            <mat-label><strong> ID du participant   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Email : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Nom   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Prenom : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Numero de téléphone   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Type : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Organisme   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Pays : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Profil : </strong></mat-label>               
        </div>

    </div>

</div>