
        <form   [formGroup]="Formulaire" (ngSubmit)="onSubmit()">
            
            <div class="row">

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" name="Nom" id="Nom" required formControlName="nom">
                      </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Prenom</mat-label>
                        <input matInput type="text" name="Prenom" id="Prenom" required formControlName="prenom">
                      </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="Email" id="Email" required formControlName="email">
                      </mat-form-field>
                </div>
               
            </div>

            <div class="row">

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Telephone</mat-label>
                        <input matInput type="tel" name="Telephone" id="Telephone" formControlName="telephone">
                      </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" >
                            <mat-option *ngFor="let Type of typp" [value]="Type.value">{{Type.viewValue}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
               
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Organisme</mat-label>
                        <mat-select formControlName="organisme" >
                          <mat-option *ngFor="let Organisme of org" [value]="Organisme">{{Organisme.libelle}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

            
               
            </div>


            <div>
                <button mat-button class="btn-danger" TYPE="reset" style="margin-top: 20px;">Annuler</button>
                <button mat-button class="btn-primary" type="submit" style="margin-top: 20px;">Enregistrer</button>
            </div>
       
        </form>



 