<div class="grid-container">
     
    <div class="grid-item item3" style="margin-bottom: 20px;margin-left: 20px;">

        <mat-label style="font-weight: bold;border-bottom: 1px solid #DEDEDE;"> Informations Générales </mat-label>
    
        <div class="row">
            <mat-label><strong> ID du formation   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Annee : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Budget   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Duree : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Nombre de session   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Titre : </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Type de formation   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Domaine : </strong></mat-label>               
        </div>

    </div>

</div>